/* Global config */
/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
/* Foundation 5 */
/* Site structure */
/**
 * Table of Contents:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */
/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */
figure {
  margin: 0;
  padding: 0; }

figcaption {
  margin-bottom: rem-calc(20);
  margin-top: rem-calc(10);
  color: #6f6f6f; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

blockquote.alignleft,
img.alignleft {
  margin: rem-calc(7) rem-calc(24) rem-calc(7) 0; }

.wp-caption.alignleft {
  margin: rem-calc(7) rem-calc(14) rem-calc(7) 0; }

blockquote.alignright,
img.alignright {
  margin: rem-calc(7) 0 rem-calc(7) rem-calc(24); }

.top-bar-container, .tab-bar {
  margin-bottom: rem-calc(32); }

#wpadminbar {
  position: fixed !important; }

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */
/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #272727; }

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  background: #202020; }

/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */
/**
 * 4.1 Pages
 * ------------------------------------
 */
#homepage-hero {
  background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074e68;
  padding: rem-calc(20) 0;
  margin: -rem-calc(32) 0 rem-calc(32);
  position: relative;
  text-align: left;
  height: auto; }
  #homepage-hero h1 a, #homepage-hero h4 {
    color: #fff; }
  #homepage-hero .floatingyeti img {
    max-width: 30%;
    position: absolute;
    right: rem-calc(100); }
  #homepage-hero .download {
    margin-top: rem-calc(20); }

/**
 * 4.2 Posts
 * ------------------------------------
 */
/**
 * 4.3 Widgets
 * ------------------------------------
 */
/**
 * 4.4 Comments
 * ------------------------------------
 */
/**
 * 4.5 Lists
 * ------------------------------------
 */
/**
 * 4.6 Forms
 * ------------------------------------
 */
/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */
/* Site navigation */
/**
 * Table of Contents:
 *
 * 1.0 - Nav structure

 * ----------------------------------------------------------------------------
 */
